main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgem-galeria{
    border: 0px solid transparent;
}

img{
    margin: 30px;
}

.imgem-galeria:hover{
    background-color: white;
    transition: all 3s;
    transform: 3s;
}

.imgem-galeria:hover img{
    margin: 35px;
    border: 5px;
    height: 200px;
    transition: all 3s;
    transform: 3s;
}

.logo-marvel{
    display:none;
}



