main{
    /* background-color: yellow; */
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;
}

.content-container{
    /* background-color:	rgb(139,69,19); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 20px;

}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    line-height: 5rem;

}

.movie-title{
    color: var(--accent-color);
    font-size: 3rem;
}

.movie-text{
    width: 600px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 200;
}

.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;

}

.social-container{
    background-color: blueviolet;
    width: 48px;
}

