:root{
    --accent-color: #FF031A;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000 ), url(../img/background\ 1.png) ;
    /* background-image: url(../img/background\ 1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    transition: all 4s;
}

@media (max-width:768px){
    body{
        transition: all 6s;
        padding: 0 30px;
        background-color: #0009;
        background-image: url(../img/background\ 1.png);
        background-blend-mode: darken;
        background-position: 100%;
    }
}




