body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000, #fff, #fff, #fff, #fff), url(../img/background\ 1.png) ;
    /* background-image: url(../img/background\ 1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
}