header{
    /* background-color: rgb(139,69,19); */
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    

}

.nav-links{
    /* background-color: aqua; */
    height: 36px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 3s;
}

.nav-links a{
    text-shadow: 2px 2px 2px#000;
    padding: 8px 5px;
    transition: all 3s;
}

.nav-links a:hover{
    background-color: var(--accent-color);
    transition: all 3s;
}

@media (max-width:768px){
    header{
        height: 70px;
    }
    .nav-links{
        background-color: #000;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        font-size: 2.5rem;
        font-weight: 300;
        transform: translate(100%);
        transition: all 3s;
    }
    .menu-burger-container.show ~ .nav-links{
        transform: translate(0);
    }
}

