.menu-burger-container{
    position: relative;
    display: none;
    align-items: center;
    height: 36px;
    width: 36px;
}

.menu-burguer,
.menu-burguer::before,
.menu-burguer::after{
    content: " ";
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    background-color: white;
    transition: all 3s;
}

.menu-burguer::before{
    transform: translateY(-12px);
}

.menu-burguer::after{
    transform: translateY(12px);
}

.menu-burger-container.show .menu-burguer{
    background-color: transparent;
    
}

.menu-burger-container.show .menu-burguer::before{
    transform: rotate(45deg);
}

.menu-burger-container.show .menu-burguer::after{
    transform: rotate(135deg);
}

@media (max-width:768px){
    .menu-burger-container{
        display: flex;
        z-index: 1;
    }
}
