

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagens{
    display: flex;
    flex-direction: column;
}

.imgs{
    display: flex;
    flex-direction: column;
}

.imagem{
    margin: 30px;
}