.menu-burger-container{
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
}

.menu-burguer,
.menu-burguer::before,
.menu-burguer::after{
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 36px;
    background-color: white;
    transition: all 3s;
}

.menu-burguer::before{
    transform: translateY(-12px);
}

.menu-burguer::after{
    transform: translateY(12px);
}

.menu-burger-container:hover .menu-burguer{
    background-color: transparent;
}

.menu-burger-container:hover .menu-burguer::before{
    transform: rotate(45deg);
}

.menu-burger-container:hover .menu-burguer::after{
    transform: rotate(135deg);
}
